<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159953544728-98f8lgchheltidfa1ffatb1gn5v67t4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159953544728-98f8lgchheltidfa1ffatb1gn5v67t4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBrT3rUmIRAXjDZ89WoqZos2zIKjVlvkuk</string>
	<key>GCM_SENDER_ID</key>
	<string>159953544728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlexanderAdegbenro.NOFH</string>
	<key>PROJECT_ID</key>
	<string>nofh-a245b</string>
	<key>STORAGE_BUCKET</key>
	<string>nofh-a245b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159953544728:ios:f2a9a50111ac11fdaac56d</string>
</dict>
</plist>